$font-size-root: 17px;
// $body-font-family: 'Work Sans', serif;
$header-font-color: #faefe8;
$font-color: #37291F;
$thame-color: #cd6118;

$breakpoint: 768px;
$body-font-family: 'Zen Kaku Gothic New', sans-serif;
